<html lang="en">
<head>
    <title>StaticCMS Editor's UI</title>
    <meta
            name="description"
            content="Editor's UI for managing Astro's markdown content and assets"
    />
    <script>
        import "virtual:astro-staticcms-configuration";
    </script>
</head>
<body></body>
</html>
